/* Flex-wrap, justify-content, align-items,
align-content */
body {
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 50px;
    padding-top: 50px;
    width: 500px;
    height: 500px;
    background-color: green;
    color: white
}

.buttonContainer {
    margin-top: 20px;
}

.keyContainer {
    margin-top: 20px;
}

#key {
    width: 30px;
}

#message {
    margin-top: 10px;
}

.hello {
    margin-top: 25px;
    width: 150px;
    height: 150px;
}